body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameContainer {
    text-align: center;
}

#startGameButton {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.5s;
}

#userGuess, #attemptInfo {
    margin-top: 20px;
}

#attemptInfo {
    margin-left: 20px;
    display: inline-block;
}